In [ ]:
import pandas as pd

In [81]:
file_path = 'heart+disease\hungarian.data'

with open(file_path, 'r') as file:
    raw_data = file.read()

raw_data = raw_data.strip().split('name')
raw_data.pop()
cleaned_data = [string.replace('\n\n', ' ').replace('\n', ' ').strip().split(' ') for string in raw_data]
data = pd.DataFrame(cleaned_data)
column_feature = [2, 3, 8, 9, 11, 15, 18, 31, 37, 39, 40, 43, 50, 57]
data_filtered = data.iloc[:, column_feature]

# Dictionary untuk pemetaan nama kolom baru
column_mapping = {
    2: 'age',
    3: 'sex',
    8: 'cp',
    9: 'trestbps',
    11: 'chol',
    15: 'fbs',
    18: 'restecg',
    31: 'thalach',
    37: 'exang',
    39: 'oldpeak',
    40: 'slope',
    43: 'ca',
    50: 'thal',
    57: 'num',
}

# Mengganti nama kolom sesuai dengan pemetaan
data_filtered = data_filtered.rename(columns=column_mapping)

data_filtered

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,40,1,2,140,289,0,0,172,0,0,-9,-9,-9,0
1,49,0,3,160,180,0,0,156,0,1,2,-9,-9,1
2,37,1,2,130,283,0,1,98,0,0,-9,-9,-9,0
3,48,0,4,138,214,0,0,108,1,1.5,2,-9,-9,3
4,54,1,3,150,-9,0,0,122,0,0,-9,-9,-9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,48,0,2,-9,308,0,1,-9,-9,2,1,-9,-9,0
290,36,1,2,120,166,0,0,180,0,0,-9,-9,-9,0
291,48,1,3,110,211,0,0,138,0,0,-9,-9,6,0
292,47,0,2,140,257,0,0,135,0,1,1,-9,-9,0
293,53,1,4,130,182,0,0,148,0,0,-9,-9,-9,0

In [83]:
file_path = r'heart+disease\reprocessed.hungarian.data'

with open(file_path, 'r') as file:
    raw_data = file.read()

raw_data = raw_data.strip().split('\n')
cleaned_data = [string.strip().split(' ') for string in raw_data]
data = pd.DataFrame(cleaned_data, columns=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num'])

data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,40,1,2,140,289,0,0,172,0,0,-9,-9,-9,0
1,49,0,3,160,180,0,0,156,0,1,2,-9,-9,1
2,37,1,2,130,283,0,1,98,0,0,-9,-9,-9,0
3,48,0,4,138,214,0,0,108,1,1.5,2,-9,-9,3
4,54,1,3,150,-9,0,0,122,0,0,-9,-9,-9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,48,0,2,-9,308,0,1,-9,-9,2,1,-9,-9,0
290,36,1,2,120,166,0,0,180,0,0,-9,-9,-9,0
291,48,1,3,110,211,0,0,138,0,0,-9,-9,6,0
292,47,0,2,140,257,0,0,135,0,1,1,-9,-9,0
293,53,1,4,130,182,0,0,148,0,0,-9,-9,-9,0

In [85]:
if data_filtered.equals(data):
    print("DataFrame sama")
else:
    print("DataFrame berbeda")

DataFrame sama